@mixin warning {
  background-color: $secondary-color;
  color: white;

  &:hover {
    background-color: lighten($secondary-color, 10%);
  }
}

@mixin rounded($radius: 6px) {
  border-radius: $radius;
}

@mixin box-shadow($shadows...) {
	box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
}

@mixin large-text {
  font: {
    size: 22px;
    weight: bold;
  }
}

@mixin box($radius: 6px, $border: 1px solid #000) {
  @include rounded($radius);
  border: $border;
}

@mixin fancy-links {
  a {
    font-style: italic;
    text-decoration: none;
  }
}

@mixin skin($brand: "blue-beans") {
    @if $brand == "blue-beans" {
      color: #8779ff;
    }
}